<section class="colored flexed">
    <div>
        <h2>Apps and websites</h2>
        <p>Is the main products we can provide to you, the consumer</p>
    </div>
    <div>
        <button [routerLink]="'contact'">Make first contact!</button>
    </div>
</section>

<section class="portfolio-preview">
    <h3>Top 3 projects</h3>
    <div class="portfolio-list">
        <ul class="cards" *ngIf="projects">
            <li *ngFor="let project of projects.slice(0, 3)" [routerLink]="'/resource/' + project.id">
                <div>
                    <img [src]="project.img" [alt]="project.name">
                </div>
                <strong>{{project.name}}</strong>
                <em>Position: {{project.role}}</em>
            </li>
        </ul>
    </div>
</section>

<section class="about-container">
    <h3>About myself</h3>
    <div class="interests">

    </div>
    <div class="card-item education">

    </div>
    <div class="card-item experience">

    </div>
</section>