<section class="colored-section">

    <h2>Contact</h2>
    <p>If you have an idea for a <em>product</em> or <em>project</em>, feel free to contact me trough the <strong>form</strong></p>
</section>

<section class="contact-form-container">
    <h3>Contact form</h3>
    <p>My primary languages are <em>Norwegian</em> and <em>English</em></p>

    <div *ngIf="feedback" class="feedback"
       [ngClass]="{'feedback-error': success == -1, 'feedback-success': success == 1}">{{feedback}}</div>

    <form [formGroup]="form">
        <div class="input-divider">
            <label>Your name</label>
            <input type="text" name="name" formControlName="name" placeholder="Jon Snow">
            <small>Just to build a relation to your idéa. Is however, entirely optional</small>
        </div>
        <div class="input-divider">
            <label class="required">Your email</label>
            <input type="email" name="email" formControlName="email" placeholder="jon.snow@westeros.com" required>
            <small>Only way to contact you back</small>
        </div>
        <div class="input-divider">
            <label class="required">Subject</label>
            <input type="text" name="subject" formControlName="subject" placeholder="Great project: Cheese tracker!" required>
            <small>Small overhead of what you want to talk about</small>
        </div>

        <div class="input-divider">
            <label class="lbl-textarea required">Messsage</label>
            <textarea name="message" rows="10"
                      formControlName="message"
                      placeholder="My idéa, the cheese-tracker, will track amount of cheese left in the fridge and warn if one of them is becoming spoiled" required></textarea>
            <small>Informal description of your idéa, or what you'd like to discuss</small>
        </div>

        <recaptcha size="invisible"
                   #captchaRef="reCaptcha"
                   (resolved)="$event && submit(form.value, $event)"
                   siteKey="6LeC5xgUAAAAAFsU03EmPwNSjTLY2fqk6upKPMGR"></recaptcha>

        <button [disabled]="!form.valid" (click)="captchaRef.execute()">Send</button>

    </form>
</section>
