
// Font
$primary-font: Helvetica, sans-serif;
$secondary-font: sans-serif;


// Colors
$primary-color: #1E88E5;
$accent-color: #FFC107;

$header-color: #555;
$text-color: #212121;

$background-color: #E2E7EA;