

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #555;

  margin: 0;

  &.light {
    color: $background-color;
  }
}

.title {
  color: $primary-color;
}

a {
  color: $accent-color;

  padding: .5em;

  text-decoration: none;
}

p {

}

small {

  &.light {
    color: $background-color;
  }
}