<h2>Products</h2>
<p class="introduction">
    A website is no longer just a <em>website</em>.
    After Facebook, Google and Youtube revolutionized the way we interact with websites,
    and computers and smartphones got more powerful. Business and developers got much more freedom
    in what they can do with their websites.<br><br>

    Lindhagen IT offers all these type of applications, depending on your needs.
    Just describe your idea to me, and I will give my recommendations and build the application for you.<br><br>

    The payment rate is <em>16 euro</em> for each working hour, invoiced monthly.
</p>

<article>
    <h3>Webapplications</h3>
    <p>Webapplications has become a collection-term for different types of websites.</p>

    <section>
        <h4>Single-page-applications</h4>
        <p>
            A single-page-application, is a static website replicating dynamic websites.
            It behaves much like mobile and desktop applications, just in the browser.
        </p>
        <p>
            This means we can load data from a <em>database</em>, include <em>user-login</em> and lots more,
            and at the same time keep the application <em>fast</em> and <em>low-priced</em>.
        </p>

        <p>
            Typical products for a single-page-application is games, administration system,
            portfolio sites or website who needs to be fast.
        </p>
    </section>

    <section>
        <h4>Computer Management System</h4>
        <p>
            Interested in creating your own blog? Building a webshop?
            Or you just want to decide the layout or content of you website yourself?
            Then a Computer Management System (CMS) is what you will need.
        </p>
        <p>
            A popular CMS framework is Wordpress, often used by blogs, newspapers or webshops.
            However, many also use frameworks like Drupal and ImpressPages,
            if you want more control of the system yourself.
        </p>
    </section>

    <section>
        <h4>Static websites</h4>
        <p>
            Typically a collection of static webpages, with little to no extra logic.
            Is best suited for people who just want a very simple portfolio website.
        </p>
    </section>
</article>

<article>
    <h3>REST-api</h3>
    <p>A REST-api is an interface used by
        developers to implement data access and user login, between multiple applications.
    </p>
    <p>
        Mobile- and single-page-applications, are typical consumers of REST-api.
        However, it has become widely popular between all fields of Software development,
        because of it's ease of use and scalability.
    </p>

    <p>

    </p>

</article>
