

$primary-color: #009688;
$primary-dark-color: #00796B;
$primary-light-color: #B2DFDB;

$accent-color: #607D8B;

$primary-text: #212121;
$secondary-text: #757575;

$divider-color: #BDBDBD;

$icon-color: #FFF;

$shadow: rgba(0,0,0,.1) 0.1em 0.1em 0.2em;