
form {
  box-sizing: border-box;

  display: flex;

  flex-direction: column;

  justify-content: center;

  margin: 0 auto 1em auto;
  max-width: 30em;

  position: relative;

  width: 100%;

  small {
    clear: both;
    color: $secondary-text;

    display: block;

    font-size: 0.6em;

    text-align: right;
  }

  .input-divider {
    margin: 0.5em 0;
  }

  button {
    border: none;

    font-size: 0.8em;
    padding: 0.5em 1em 0.5em 1em;

    cursor: pointer;

    background-color: $accent-color;
    color: $icon-color;
    width: 100%;
  }

}

input,
textarea {
  background-color: $icon-color;
  border: none;
  border-bottom: $divider-color 1px solid;

  color: $accent-color;

  font-size: 0.8em;

  padding: 0.2em 0.5em;
  position: relative;

  transition: all .3s ease;

  &:focus {
    border-bottom: $primary-color solid 2px;

    outline: none;
  }
}

input {
  box-sizing: border-box;

  float: right;

  max-width: 25em;

  width: 100%;
}

textarea {
  box-sizing: border-box;

  display: block;

  margin-top: 0.5em;

  width: 100%;
}

label {
  color: $accent-color;

  float: left;
  font-weight: 100;

  position: relative;

  &:after {
    content: ": ";
  }

  &.required:after {
    content: ": *";
  }

  .lbl-textarea {
    float: none;
  }
}

