h2, h3, h4, h5, h6 {
  text-align: center;
}

h3 {
  color: $primary-dark-color;
}

h4, h5, h6 {
  color: $accent-color;
}

button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

section {
  position: relative;
  box-sizing: border-box;
  padding: 0 1em 0 1em;
}

section.colored {
  background-color: $primary-color;

  color: $icon-color;

  display: flex;

  flex-wrap: wrap;

  justify-content: center;

  padding: 2em;
  position: relative;

  h2 {
    margin-top: 0.5em;
  }

  p {
    color: $primary-background-color;

    font-size: 0.8em;
    font-weight: 100;

    margin-top: .2em;
    max-width: 25em;
  }

  div {
    display: flex;

    flex-direction: column;
    flex-grow: 1;

    justify-content: center;

    max-width: 15em;

    button {
      background-color: transparent;
      border: $icon-color solid 1px;

      color: inherit;
      cursor: pointer;

      flex-grow: 1;
      font-size: 0.9em;

      padding: .8em 1.3em;

      width: 100%;

      &:focus {
        outline: none;
      }

      &:hover {
        background-color: $icon-color;
        color: $primary-color;
      }
    }
  }

}

section.colored + section {
  margin-top: 80px;

}

section.flexed {
  display: flex;
  justify-content: center;
  align-items: center;

  h2, p {
    text-align: left;
  }

  p {
    max-width: 19em;
  }

}

section.vertical {
  flex-direction: column;
  align-items: center;
}
