<div class="background-color">
<div class="block"></div>
<div class="triangle"></div>
</div>

<small>Our product is</small>
<h2>Webdevelopment</h2>
<small>with the primary categories</small>

<section class="horizontal">
    <section class="card product">
        <h3>Webapplication</h3>

        <ul class="dashed">
            <li>Single-page-applications</li>
            <li>CMS-applications</li>
        </ul>

        <a routerLink="/webapps" class="btn flat">Learn more</a>
    </section>

    <section class="card product">
        <h3>REST-Api</h3>

        <ul class="dashed">
            <li>OAuth login</li>
            <li>Server API</li>
            <li>IoT Communication</li>
            <li>Online Payment</li>
            <li>Cloud Storage</li>
            <li>Elastic and elasticsearch</li>
            <li>Contentful</li>
        </ul>

        <a routerLink="/rest-api" class="btn flat">Learn more</a>
    </section>
</section>
